html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

bg-main {
    background-color: #f5f5f5;
}

nav {
    font-family: 'Open sans', sans-serif;
}

.form-handler {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Open sans', sans-serif;
}